@page
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}
<h1>@ViewData["Title"]</h1>

<h5>Items Delivery</h5>
@if(Model.ItemsChart is null)
{
    <p>Empty!</p>
}
else
{
    <div class="progress" style="width: 60%">
        <div class="progress-bar bg-danger"
            style="width: @(Model.ItemsChart.GetDangerCssPercentage(100))">
            @(Model.ItemsChart.Danger)
        </div>
        <div class="progress-bar bg-dark"
            style="width: @(Model.ItemsChart.GetDarkCssPercentage(100))">
            @(Model.ItemsChart.Dark)
        </div>
        <div class="progress-bar bg-warning
            progress-bar-stripped" style="width: @(Model.ItemsChart.GetWarningCssPercentage(100))">
            @(Model.ItemsChart.Warning)
        </div>
        <div class="progress-bar bg-success
            progress-bar-stripped" style="width: @(Model.ItemsChart.GetSuccessCssPercentage(100))">
            @(Model.ItemsChart.Success)
        </div>
    </div>
    <div class="chart-legend">
        <p>
            <span class="legend-bullet text-danger">&#9679;</span> Problems exist, 
            <span class="legend-bullet text-dark">&#9679;</span> Valid, created - box not assigned, 
            <span class="legend-bullet text-warning">&#9679;</span> Valid, assigned to box, 
            <span class="legend-bullet text-success">&#9679;</span> Delivered
        </p>
    </div>
}

<h5>Registered Boxes</h5>
@if(Model.BoxesChart is null)
{
    <p>Empty!</p>
}
else
{
    <div class="progress" style="width: 60%">
        <div class="progress-bar bg-danger"
             style="width: @(Model.BoxesChart.GetDangerCssPercentage(100))">
            @(Model.BoxesChart.Danger)
        </div>
        <div class="progress-bar bg-dark"
             style="width: @(Model.BoxesChart.GetDarkCssPercentage(100))">
            @(Model.BoxesChart.Dark)
        </div>
        <div class="progress-bar bg-warning
            progress-bar-stripped" style="width: @(Model.BoxesChart.GetWarningCssPercentage(100))">
            @(Model.BoxesChart.Warning)
        </div>
        <div class="progress-bar bg-success
            progress-bar-stripped" style="width: @(Model.BoxesChart.GetSuccessCssPercentage(100))">
            @(Model.BoxesChart.Success)
        </div>
    </div>
    <div class="chart-legend">
        <p>
            <span class="legend-bullet text-danger">&#9679;</span> Problems exist, 
            <span class="legend-bullet text-dark">&#9679;</span> Created - empty, 
            <span class="legend-bullet text-warning">&#9679;</span> Created - items assigned, 
            <span class="legend-bullet text-success">&#9679;</span> Delivered
        </p>
    </div>
}

